

/* Animation idea from the following webpage: https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/
(accessed November 7, 2020) */

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 

#animation-1{ 
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 

#animation-2{ 
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

#animation-3{ 
  animation: fadeInAnimation ease 8s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 

#animation-4{ 
  animation: fadeInAnimation ease 9s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

/*Add media query to handle reduced-motion*/

@media screen and (prefers-reduced-motion: reduce){
  
  #animation-1{
    animation-name: none;
    animation-iteration-count: none;
    animation-fill-mode: none;
   }

   #animation-2{
    animation-name: none;
    animation-iteration-count: none;
    animation-fill-mode: none;
   }

   #animation-3{
    animation-name: none;
    animation-iteration-count: none;
    animation-fill-mode: none;
   }

   #animation-4{
    animation-name: none;
    animation-iteration-count: none;
    animation-fill-mode: none;
   }
  }

/*-----------------------------------*/

body{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 16pt;
}

h1{
  font-size: 2em;
  text-align: center;
  line-height: 1;
  padding-top: 15px;
  padding-bottom: 15px;
}

h2{
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
}

h3{
  font-family: 'Lora', serif;
  font-size: 2.5em;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

h4{  
  font-family: 'Lora', serif;
  font-size: 1.5em;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  padding: 5px;
}

p {
  padding: 10px 30px 10px 30px;
  text-align: center;
  line-height: 1.6;
}

img{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding-top: 10px;
}

.gallery{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  width: 100%;
  height: auto; 
}

.gallery img{
  border: 8px #167B32 solid;
  margin: 10px;
  width: 75%;
  height: auto;
  padding-top: 0px;
  margin-left:auto;
  margin-right: auto;
}

.second-gallery{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  width: 100%;
  height: auto; 
}

.second-gallery img{
  border: 1px white solid;
  margin: 1px;
  width: 75%;
  height: auto;
  padding-top: 0px;
  margin-left:auto;
  margin-right: auto;
}

footer{
  background-color: #232057;
  color: white;
  padding: 30px;
  text-align: center;
}

.footer a{
  color: white;
}

.footer a:hover, a:focus{
  color: #FEFFA9;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}


/* Navbar */

a.skip{
  background-color: #E8DCDC;
  text-decoration-color: #232057;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: #0067FF;
  text-decoration-style: solid;
}


header{
  background: #046B64;
  border-bottom: 10px solid #232057;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.nav_links{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.nav_item a{
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  text-decoration: none;
  font-size: 16pt;
  text-align: center;
}

.nav_item a:hover, a:focus{
  color: #FEFFA9;
  text-decoration: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

#active{
  text-decoration-line: overline;
}

/* Grid information for homepage and contact form */

.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100%;
  grid-row-gap: 0px;
  align-items: center;
}

.grid-img1{
  grid-column: 1;
  grid-row: 1 / span 1;
  padding: 1px;
  align-self: center;
  padding-bottom: 70px;
  width: 100%;
  height: auto;
}

.grid-img2{
  grid-column: 2;
  grid-row: 1 / span 1;
  padding: 1px;
  align-self: center;
  padding-bottom: 70px;
  width: 100%;
  height: auto;
}

.grid-img3{
  grid-column: 3;
  grid-row: 1 / span 1;
  padding: 1px;
  align-self: center;
  padding-bottom: 70px;
  width: 100%;
  height: auto;
}

.grid-img4{
  grid-column: 4;
  grid-row: 1 / span 1;
  padding: 1px;
  align-self: center;
  padding-bottom: 70px;
  width: 100%;
  height: auto;
}

.grid-txt1{
  grid-column: 1;
  grid-row: 1 / span 1;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 16pt;
  text-align: center;
  padding-bottom: 70px;
}

.grid-txt2{
  grid-column: 2;
  grid-row: 1 / span 1;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 16pt;
  text-align: center;
  padding-bottom: 70px;
}

.grid-txt3{
  grid-column: 3;
  grid-row: 1 / span 1;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 16pt;
  text-align: center;
  padding-bottom: 70px;
}

.grid-txt4{
  grid-column: 4;
  grid-row: 1 / span 1;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 16pt;
  text-align: center;
  padding-bottom: 70px;
}

.parallax-img{
  background-attachment: fixed;    
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;       
  color: white;
  height: 400px;           
  background-image: url("../imgs/loc_reading_room.png");
  grid-column: 1 / -1;
  grid-row: 1 / auto; 
}

.parallax-p{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 900;
  color: #white;
  margin: 0;
  padding: 0;
  font-size: 42pt;
  -webkit-text-stroke-width: 2px;     /* Text outlining idea from https://css-tricks.com/adding-stroke-to-web-text/ (accessed November 7, 2020) */
  -webkit-text-stroke-color: #000000;
  text-align: center;
  padding-top: 100px;
}

/* Contact Form */

legend{ 
  font-size: 125%;
  font-style: normal;
  text-align: center;
}

label{
  display: inline-block;
  margin-right:10px;
  width:15%;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

span{
  margin-left:20%;
  font-family: italic;
  font-weight: bold;
}

textarea{
  width: 100%;
  height: 35vh;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


input[type=checkbox]{
    display:inline;
    width:inherit;
}

input[type=submit] {
  background-color: #232057;
  color: #FEFFA9;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 16pt;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (min-width: 770px) {
  form{
    width: 80%;
    margin: 0 auto;
  }

  input{
    width:80%;
  }

  textarea{
    width:80%;
    height: 25vh;
 }
 
 div + label{
    line-height: 25vh;
    vertical-align:top;
 }
}






